*{
    margin: 0;
    padding: 0;
}

.navbar{
  
  justify-content: flex-start;
}
/* .badge{
  border-radius: 20px;
  
} */

.card-img{
    width: 75vh;
    height: 80vh;
}

h1{
    color: blue;
    font-size: 10vh ;
    font-family: fantasy;
}

span{
    color: blue;
    font-family: sans-serif;
}

.card-text{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a{
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.title{
    font-size: 25px;
}
.toy{
    font-size: larger;
}

.B{
    color: rgba(0, 0, 255, 0.884);
    font-style: italic;

    
}

h3{
    color: blue;
}
h4{
    color: blue; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h2{
    color: blue;
  font-family: sans-serif;
}
h6{
    color: whitesmoke;
}
h5{
  justify-self: center;
}
span{
    font-size: large;
}

.for{
    background-color: blue;
    
    margin: auto;

}





.accordion {
    background-color: light;
    color: blue;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 16px;
    transition: 0.4s;
  }
  
  .active, .accordion:hover {
    background-color: #ccc;
  }
  
  .accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2212";
  }
  
  .panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }

  #footer{
    justify-content: center;
    margin: auto;
       height: vh;
       width: vh;
       border: 1px black solid;
       background-color: rgb(3, 3, 51);
       background-image: url("imgs/shape-a.png");
       background-size: contain;
  }

  #btn{
    border: none;
    position: fixed;
    bottom: 10px;
    right: 10px;



  }